<div class="table-responsive" *ngIf="grid">
    <div *ngIf="grid.paged()" class="paged-buttons">
        <button (click)="grid.goto(0)" class="btn btn-default" [ngClass]="{disabled: grid.cur() === 0}">First</button>
        <button (click)="grid.prev()" class="btn btn-default" [ngClass]="{disabled: grid.cur() === 0}">Prev</button>
        <button (click)="grid.next()" class="btn btn-default" [ngClass]="{disabled: grid.cur() === grid.pages() - 1}">Next</button>
        <span class="info">
            Page <strong>{{ grid.cur() + 1 }} of {{ grid.pages() }}</strong> <em>({{ grid.count() }} Total)</em>
        </span>
    </div>

    <table class="table table-bordered data-table">
        <thead>
            <tr>
                <th *ngFor="let column of grid.cols" (click)="grid.sort(column)" class="{{ column.id }}" [ngClass]="{sortable: grid.sortable}">
                    {{column.name}}
                    <i *ngIf="sortable && col == grid.sortColumn" class="pull-right glyphicon"
                       [ngClass]="{'glyphicon-chevron-down': !grid.sortAsc, 'glyphicon-chevron-up': grid.sortAsc}"></i>
                </th>
            </tr>
        </thead>
        <tbody *ngIf="grid.data && grid.data.length > 0">
            <tr *ngFor="let row of grid.data; let i = index" [ngClass]="{highlight: row.highlight}" id="dt_{{ i }}">
                <td *ngFor="let col of grid.cols" [grid-column]="col" [grid-data]="row[col.id]" class="{{ col.id }}"></td>
            </tr>
        </tbody>
    </table>
    
    <div *ngIf="grid.paged()" class="paged-buttons">
        <button (click)="grid.goto(0)" class="btn btn-default" [ngClass]="{disabled: grid.cur() === 0}">First</button>
        <button (click)="grid.prev()" class="btn btn-default" [ngClass]="{disabled: grid.cur() === 0}">Prev</button>
        <button (click)="grid.next()" class="btn btn-default" [ngClass]="{disabled: grid.cur() === grid.pages() - 1}">Next</button>
        <span class="info">
            Page <strong>{{ grid.cur() + 1 }} of {{ grid.pages() }}</strong> <em>({{ grid.count() }} Total)</em>
        </span>
    </div>
</div>
