:host {
    display: block;
    text-align: center;
    font-size: 0;

    @media (max-width: 320px) {
        margin-left: -8px;
    }

    // only shows on banner or leaderboard-atf and only if ads are blocked
    .whitelist {
        display: inline-block;
        font-size: 18px;
    }

    &.mobile-leaderboard {
        display: block;
        text-align: center;
        height: 50px;
        width: 100%;

        &.mobile-leaderboard-atf {
            margin-bottom: 20px;
        }

        &.mobile-leaderboard-btf {
            margin-top: 20px;
        }
    }

    &.leaderboard {
        background: #dedede;
        margin: 0 auto;
        height: 90px;
        width: 100%;

        &.leaderboard-atf {
            margin-bottom: 20px;

            .whitelist {
                padding-top: 18px;
                height: 90px;
                width: 728px;
            }
        }

        &.leaderboard-btf {
            margin-top: 20px;
        }
    }

    &.medrec {
        background: #dedede;
        margin: 0 auto;
        width: 300px;
        height: 250px;

        &.medrec-atf {
            margin-bottom: 20px;
        }

        &.medrec-btf {
            margin: 20px auto;
        }
    }

    // AdSense
    ins.adsbygoogle {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}