.ggs-tooltip-container {
    position: absolute;
    pointer-events: none;    
    max-width: 340px;
    z-index: 5000;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -moz-transition: -moz-transform 1s ease-in-out;
    -o-transition: -o-transform 1s ease-in-out;
    -ms-transition: -ms-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    -o-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.33);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.33);
    
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.ggs-tooltip-close {
    background-color: #2F2F2F;
    color: #fff;
    display: none;
    font-size: 18px;
    width: 19px;
    height: 19px;
    position: absolute;
    left: -5px;
    top: -5px;
    border-radius: 14px;
    text-align: center;
    line-height: 20px;
    z-index: 5001;
}

@media (max-width: 767px) {
    .ggs-tooltip-container {
        pointer-events: auto;
    }

    .ggs-tooltip-close {
        display: block;
    }
}